
@{
    ViewData["Title"] = "Chart Example Morris";
}
<!DOCTYPE html>
<html>

<body>
<h1>Morris Chart</h1>
@* <canvas id="myChart"></canvas>*@    
    <div class="graph" id="myfirstchart" style="height: 250px;"></div>
    <script>
        window.onload = function () {
            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'myfirstchart',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [
                 @foreach(var item in ViewBag.DataPoints)
                    {
                        @:{ x: "@item.date", y: "@item.Y" },
                    }
                ],
                // The name of the data record attribute that contains x-values.
                xkey: "x",
                // A list of names of data record attributes that contain y-values.
                ykeys: ["y"],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Value'],
                smooth: false,
                ymax: @ViewBag.MaxValue,
                ymin: @ViewBag.MinValue,
                pointSize: 3,
                resize: true,
            })
        };
    </script>
    @*@Html.Raw(ViewBag.DataPoints)*@
</body>

</html>