
@{
    ViewData["Title"] = "Charts";
}

<h2>Index</h2>
<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "@ViewBag.symbol1 x @ViewBag.symbol2"
                },
                axisY: [{
                    title: "Value",
                    lineColor: "#C24642",
                    tickColor: "#C24642",
                    labelFontColor: "#C24642",
                    titleFontColor: "#C24642",
                    suffix: "k"
                }
                ],
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [{
                    type: "line",
                    name: "@ViewBag.symbol1",
                    color: "#369EAD",
                    showInLegend: true,
                    axisYIndex: 1,
                    dataPoints: [@Html.Raw(ViewBag.DataPoints1)]
                },
                @*{
                    type: "line",
                    name: "@Viewbag.symbol2",
                    color: "#C24642",
                    axisYIndex: 0,
                    showInLegend: true,
                    dataPoints: [@Html.Raw(ViewBag.DataPoints2)]
                }*@]
            });
            chart.render();

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

