
@{
    ViewData["Title"] = "Chart Example Chartjs";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        #chart-container {
            display:none ;
        }        
    </style>
</head>
<body>
<h1>Chartjs.org</h1>
    <div id="chart-container" class="chart-container" style="height:30vh; width:60vw">
        <canvas id="myLineChart"></canvas>
    </div>
        <br>
        <br>

        <script>
                drawLineChart("AAPL");    //wwwroot/js/DrawChart.js    
        </script>
    </body>
    </html>