
@{
    ViewData["Title"] = "Charts";
}
<!DOCTYPE html>
<html>
<head>
    <title>Chart Example</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
</head>
            <body>
               @* <canvas id="myChart"></canvas>*@    
                <div class="chartjs-wrapper">
                    
                    <canvas id="chartjs-0" class="chartjs" width="464" height="232" style="display: block; width: 464px; height: 232px;"></canvas>
                    <script>
                        new Chart(document.getElementById("chartjs-0"),
                            {
                                "type": "line",
                                "data": {
                                    "labels": @ViewBag.Labels,
                                    "datasets": [{
                                        "label": "@ViewBag.symbol",
                                        "data": @Html.Raw(ViewBag.Data) ,
                                        "fill": false,
                                        "borderColor": "rgb(75, 192, 192)",
                                        //"lineTension": 0.1
                                    }]
                                }, "options": {
                                    "scales": {
                                        "xAxes": [{
                                            "time": {
                                                "unit": 'month'
                                            }
                                        }]
                                    }
                                }
                            });
                    </script>
                    <p></p>
                </div>
</body>
</html>