
@{
    ViewData["Title"] = "Chart Example Morris";
}
<!DOCTYPE html>
<html>

<body>
<h1>Morris Chart</h1>
@* <canvas id="myChart"></canvas>*@    
    <div class="graph" id="myfirstchart" style="height: 250px;"></div>
    
    <div id="div1"><h2>Let AJAX change this text</h2></div>

    <button>Change Content</button>
    <script>
        var DataPoints = [];
        $("button").on("click", function () {
            //var jsonData = JSON.stringify({ aData: aData });
            $.ajax({
                type: "GET",
                //getListOfCars is my webmethod   
                url: "/CompanyList/IndexChart/",
                //data: jsonData,
                contentType: "application/json",
                dataType: "json", // dataType is json format
                success: function (response)
                {
                    for (i in response)
                    {
                        DataPoints[i] =(response[i]);
                    }
                    

                    // Split timestamp and data into separate arrays
                    var labels = [], data = [];
                    for (i in DataPoints) {
                        labels[i] = DataPoints[i].x;
                        data[i] = DataPoints[i].y;
                    }

                    
                    //alert(JSON.stringify(data));
                    alert(JSON.stringify(DataPoints));
                    alert(JSON.stringify(labels));
                    alert(JSON.stringify(data));
                },
            });
        });
               
//*
       
        window.onload = function () {
            $.ajax({
                type: "GET",
                url: "/CompanyList/IndexChart/",
                //data: jsonData,
                contentType: "application/json",
                dataType: "json", 
                success: function (data) {
                    DataPoints.push(data);
                    //alert(JSON.stringify(data));
                    //alert(JSON.stringify(DataPoints));
                },
            });
            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'myfirstchart',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [],
                @*[
                @foreach(var item in ViewBag.DataPoints)
                    {
                        @:{ x: "@item.date", y: "@item.Y" },
                    }
                ],*@
                // The name of the data record attribute that contains x-values.
                xkey: "x",
                // A list of names of data record attributes that contain y-values.
                ykeys: ["y"],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Value'],
                smooth: false,
                ymax: @ViewBag.MaxValue,
                ymin: @ViewBag.MinValue,
                pointSize: 3,
                resize: true,
            })
        };
    </script>
    @*@Html.Raw(ViewBag.DataPoints)*@
</body>

</html>