@model Analise_Acoes_NICHOLAS.Models.Company

@{
    ViewData["Title"] = "Index";
}

<head>
    <script type="text/javascript" class="init">
        var dataSet = @Html.Raw(ViewBag.DataPoints);

        
        $(document).ready(function () {
            $('#example').DataTable({
                data: dataSet,
                columns: [
                    { title: "Symbol" },
                    { title: "Name" },
                ]
            });
        });

    </script>
    
</head>
<body>
    <table id="example" class="display" width="100%">
               </table>
    
</body>