@model Analise_Acoes_NICHOLAS.Models.CompanyListModel
@{
    ViewData["Title"] = "IndexSearch";
}

<head>
    <title>Chart Example</title>
    
</head>

<body>
 
    <div class="form-group">
        <label asp-for="companySymbol" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="companySymbol" asp-items="@Model.SList"></select>
        </div>
    
    <a> Teste</a>
</body>
